$enable-grid-classes: false;
$enable-cssgrid: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #D4DDED;
}

header {
  h1 {
    font-family: 'MuseoModerno';
    font-weight: 600;
    color: #EC1B90;
  }
}

section {
  .container-fluid {
    display: flex;
    justify-content: space-evenly;
    .addDepoimento {
      width: 25vw;
      
     
      .addButton {
        width: 50px;
      }
      .formularioSection {
        font-family: Verdana;
        background-color: rgb(236, 27, 144);
        backdrop-filter: blur(20px);
        user-select: none;
        font-weight: 550;
        border-radius: 10px;
        .container {
          form {
            #depoimento {
              height: 200px;
            }
          }
          .erroMsg {
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 400;
          }
        }
      }
    }
    .mural {
      width: 70vw;
      .avatar {
        min-height: 400px;
        max-height: 400px;
       
        .card {
          position: relative;
          height: 100%;
          max-height: 100%;
          border-radius: 10px;
          overflow: auto;
          img {
            border-radius: 10px;
            max-height: 45%;
            width: 30%;
          }
          .card-body {
            p {
              color: black;
            
            
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .container-fluid {
    flex-direction: column;  
    .addDepoimento {
      order: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;      
      .formularioSection {
        width: 92.5vw;        
      }
    }
    .mural {
      order: 1;
      .avatar {
        width: 92.5vw;
      }
    }
  }
}