$enable-grid-classes: false;
$enable-cssgrid: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #D4DDED;
}

header {
  h1 {
    font-family: 'MuseoModerno';
    font-weight: 600;
    color: #EC1B90;
    user-select: none;
  }
}

section {
  .container-fluid {
    display: flex;
    justify-content: space-evenly;
    .addDepoimento {
      width: 25vw;
      
     
      .addButton {
        width: 50px;
      }
      .formularioSection {
        font-family: Verdana;
        background-color: rgb(236, 27, 144);
        user-select: none;
        font-weight: 550;
        border-radius: 10px;
        backdrop-filter: blur(8px);
        .container {
        
          form {
            #depoimento {
              height: 200px;
            }
          }
          .erroMsg {
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 400;
          }
        }
      }
    }
    .mural {
      width: 70vw;
      user-select: none;
      .avatar {
        border: solid 1px white;
        min-height: 400px;
        max-height: 400px;  
        background-color: #D4DDED; 
        padding: 2px;
        margin-left: 3px; 
        margin-right: 3px;
        border-radius: 2.5px;
        overflow: auto; 
        .card {
          position: relative;
          min-height: 35%;
          max-height: 35%;
          max-width: 100%;
          min-width: 100%;
          background-color: #D4DDED;  
          border: none;
          img {
            width: 100%;      
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .container-fluid {
    display: flex;
    flex-direction: column;  
    .addDepoimento {
      order: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;      
      .formularioSection {
        width: 92.5vw;        
      }
    }
    .mural {
      order: 1;
      background-color: #D4DDED;
      .avatar {
        width: 92.5vw;
        position: block;
        overflow: auto;
        padding: 0px;
        .card {
          img {
            width: 100%;
          }
        }
      }
    }
  }

}